In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('vit-all.csv')

In [7]:
df

        RegNumber                       Name  Campus
0      21BSA10169            KSHITISH SHARMA  Bhopal
1      21BSA10168             ASTHA TRIPATHI  Bhopal
2      21BSA10167               UTKARSH JAIN  Bhopal
3      21BSA10166             ABHINAV TIWARI  Bhopal
4      21BSA10165                  PRIYA JHA  Bhopal
...           ...                        ...     ...
14838  21BAC10014              Vivaan mannur  Bhopal
14839  21BAC10011              ANAGHA CHALLA  Bhopal
14840  21BAC10010           RAMJI CHAURASIYA  Bhopal
14841  21BAC10008        BHAMBHANI HARSHITA   Bhopal
14842  21BAC10005  ASHUTOSH KUMAR SRIVASTAVA  Bhopal

[14843 rows x 3 columns]

In [32]:
vellore = df.loc[df['Campus'] == 'Vellore'].reset_index(drop=True)
chennai = df.loc[df['Campus'] == 'Chennai'].reset_index(drop=True)
bhopal = df.loc[df['Campus'] == 'Bhopal'].reset_index(drop=True)
amravati = df.loc[df['Campus'] == 'Amaravati'].reset_index(drop=True)

In [43]:
df['RegNumber']

0        21BSA10169
1        21BSA10168
2        21BSA10167
3        21BSA10166
4        21BSA10165
            ...
14838    21BAC10014
14839    21BAC10011
14840    21BAC10010
14841    21BAC10008
14842    21BAC10005
Name: RegNumber, Length: 14843, dtype: object

In [ ]:
# 14842
# 14843